<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="dinedæk.dk&lt;dinedaek@gmail.com&gt;">
        <network host="smtp.mandrillapp.com" port="587" password="g38TDnNj9JlatrEto9s2Pw" userName ="kiffodbold@email.dk"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <customErrors mode="RemoteOnly"/>
  </system.web>
</configuration>